.left, .right	{
	-webkit-animation-duration: 250ms;
	-webkit-animation-timing-function: ease-in;
}

.slide.right {
	-webkit-animation-name: slideright;
}
.slide.left {
	-webkit-animation-name: slideleft;
}

@-webkit-keyframes slideright	{
    from	{
    	-webkit-transform: translateX(100%);
    }
    to	{
    	-webkit-transform: translateX(0);
    }
}
@-webkit-keyframes slideleft	{
    from	{
    	-webkit-transform: translateX(-100%);
    }
    to	{
    	-webkit-transform: translateX(0);
    }
}